
@media (min-width: 768px) {
    .navbar .container {
        display: flex;
        justify-content: center;
    }
    .navbar-default .navbar-collapse {
        background-color: transparent;
    }

    .navbar {
        background: linear-gradient(to bottom, rgba(255,255,255,0.85) 80%, transparent 100%);
    }
}

.black-image-project-hover img {
    filter: none;
}
